<mat-card>
  <ihm-card-header
    icon="event_note"
    subtitle="Lost Time"
    title="ADD EVENT"
  ></ihm-card-header>
  <mat-card-content>
    <form
      [formGroup]="addEditForm"
      (ngSubmit)="onSubmit()"
      id="addEditForm"
      name="addEditForm"
    >
      <h4 class="mat-subheading-1">Location</h4>
      <div class="locations">
        <!-- Mill -->
        <ihm-select
          label="Mill"
          placeholder="Mill"
          formControlName="mill"
          name="mill"
          [required]="true"
          [items]="mills"
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>

        <!-- Area -->
        <ihm-select
          label="Area"
          placeholder="Area"
          formControlName="area"
          name="area"
          [required]="true"
          [items]="addEditForm.value.mill ? addEditForm.value.mill.Area : []"
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>

        <!-- Subarea -->
        <ihm-select
          label="SubArea"
          placeholder="SubArea"
          formControlName="subarea"
          name="subarea"
          [required]="true"
          [items]="addEditForm.value.area ? addEditForm.value.area.SubArea : []"
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>

        <!-- Equipament -->
        <ihm-select
          label="Equipment"
          placeholder="Equipment"
          formControlName="equipment"
          name="equipment"
          [required]="false"
          [items]="
            addEditForm.value.subarea ? addEditForm.value.subarea.Equipment : []
          "
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>
      </div>

      <mat-divider></mat-divider>
      <br />
      <h4 class="mat-subheading-1">Interval</h4>

      <div class="time">
        <!-- Start -->
        <div class="time-group">
          <!-- Start Date -->
          <mat-form-field appearance="fill">
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="pickerStart"
              placeholder="Start"
              formControlName="startDate"
              required
              (dateChange)="calcDuration()"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="pickerStart"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>

          <!-- Start Time -->
          <mat-form-field appearance="fill">
            <mat-label>Start time</mat-label>
            <input
              matInput
              type="time"
              formControlName="startTime"
              required
              (change)="calcDuration()"
            />
            <mat-icon matPrefix class="time">access_time</mat-icon>
          </mat-form-field>
        </div>
        <!-- End -->
        <div class="time-group">
          <!-- End Date -->
          <mat-form-field appearance="fill">
            <mat-label>End date</mat-label>
            <input
              matInput
              [matDatepicker]="pickerEnd"
              placeholder="End"
              formControlName="endDate"
              required
              (dateChange)="calcDuration()"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="pickerEnd"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>

          <!-- End Time -->
          <mat-form-field appearance="fill">
            <mat-label>End time</mat-label>
            <input
              matInput
              type="time"
              formControlName="endTime"
              required
              (change)="calcDuration()"
            />
            <mat-icon matPrefix class="time">access_time</mat-icon>
          </mat-form-field>
        </div>

        <!-- Duration -->
        <div class="time-group">
          <mat-form-field appearance="fill">
            <mat-label>Duration</mat-label>
            <input matInput [value]="duration" disabled="true" />
          </mat-form-field>
        </div>
      </div>

      <mat-divider></mat-divider>
      <br />

      <h4 class="mat-subheading-1">Reason</h4>
      <div class="reason">
        <!-- Class -->
        <ihm-select
          label="Class"
          placeholder="Class"
          formControlName="class"
          name="class"
          [required]="true"
          [items]="classes"
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>

        <!-- Group -->
        <ihm-select
          label="Group"
          placeholder="Group"
          formControlName="group"
          name="group"
          [required]="true"
          [items]="
            addEditForm.value.class ? addEditForm.value.class.GroupReason : []
          "
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>

        <!-- Reason -->
        <ihm-select
          label="Reason"
          placeholder="Reason"
          formControlName="reason"
          name="reason"
          [required]="true"
          [items]="
            addEditForm.value.group ? addEditForm.value.group.Reason : []
          "
          optionProperty="Name"
          (changeEvent)="change($event)"
        ></ihm-select>
      </div>

      <div class="observation">
        <mat-form-field appearance="fill">
          <mat-label>Observation</mat-label>
          <textarea
            matInput
            placeholder="Observation"
            formControlName="observation"
            maxlength="200"
          ></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <ihm-card-actions
    (cancelEvent)="cancel()"
    (saveEvent)="onSubmit()"
    [disabled]="!addEditForm.valid"
  ></ihm-card-actions>
</mat-card>
