@import "src/styles.scss";

:host {
  max-width: 800px;
  width: 100%;
}

.time {
  margin-left: 7px;
  color: #707070;
}

.locations,
.reason {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locations > * {
  width: 23%;
}

.reason mat-form-field {
  width: 30%;
}

.observation mat-form-field {
  width: 100%;
}

.time-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .locations,
  .time {
    flex-direction: column;
  }

  .locations > *,
  .time-group {
    width: 100%;
  }
}
