<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="opened"
    class="example-sidenav"
    [fixedInViewport]="true"
  >
    <div class="header">
      CONNECT
    </div>

    <mat-divider></mat-divider>

    <span class="spacer"></span>

    <a
      *ngFor="let menu of menus"
      (click)="navigate(menu.route)"
      mat-button
      class="menu"
    >
      <mat-icon>{{ menu.icon }}</mat-icon>
      {{ menu.title }}
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
