<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button aria-label="Side Navigation">
    <mat-icon aria-label="Side Navigation" (click)="toggleMenu()">
      menu
    </mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Profile">
    <mat-icon aria-label="Profile">person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="user-name">{{ userName }}</div>
    <div class="user-login">{{ userLogin }}</div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
