mat-toolbar * {
  margin: 0 10px;
}

mat-toolbar {
  position: fixed;
  z-index: 1;
}

.user-name {
  font-weight: bold;
  margin-top: 8px;
}

.user-login {
  margin-bottom: 16px;
}

.mat-menu-item .mat-icon {
  margin-right: 8px;
}

.user-name,
.user-login {
  display: flex;
  font-size: 15px;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.87);
}

.example-spacer {
  flex: 1 1 auto;
}
