<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <i class="material-icons">assignment</i>
    </div>
    <mat-card-title>Add Event</mat-card-title>
    <mat-card-subtitle>Fill the fields below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Conteudo
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>
