<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <i class="material-icons">assignment</i>
    </div>
    <mat-card-title>Add Event</mat-card-title>
    <mat-card-subtitle>Fill the fields below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()" id="addEditForm">
      <h4 class="mat-subheading-1">Location</h4>
      <div class="locations">
        <!-- Mill -->
        <mat-form-field appearance="outline">
          <mat-label>Mill</mat-label>
          <mat-select
            placeholder="Mill"
            formControlName="mill"
            (selectionChange)="changeLocation('mill')"
          >
            <mat-option [value]="mill" *ngFor="let mill of mills">
              {{ mill.code }} - {{ mill.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Area -->
        <mat-form-field appearance="outline">
          <mat-label>Area</mat-label>
          <mat-select
            placeholder="Area"
            formControlName="area"
            (selectionChange)="changeLocation('area')"
          >
            <mat-option
              [value]="area"
              *ngFor="
                let area of addEditForm.value.mill
                  ? addEditForm.value.mill.area
                  : []
              "
            >
              {{ area.code }} - {{ area.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Subarea -->
        <mat-form-field appearance="outline">
          <mat-label>SubArea</mat-label>
          <mat-select
            placeholder="SubArea"
            formControlName="subarea"
            (selectionChange)="changeLocation('subarea')"
          >
            <mat-option
              [value]="subarea"
              *ngFor="
                let subarea of addEditForm.value.area
                  ? addEditForm.value.area.subArea
                  : []
              "
            >
              {{ subarea.code }} - {{ subarea.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Equipament -->
        <mat-form-field appearance="outline">
          <mat-label>Equipment</mat-label>
          <mat-select placeholder="Equipment" formControlName="equipment">
            <mat-option
              [value]="equipment"
              *ngFor="
                let equipment of addEditForm.value.subarea
                  ? addEditForm.value.subarea.equipment
                  : []
              "
            >
              {{ equipment.code }} - {{ equipment.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="time">
        <!-- Start -->
        <div class="time-group">
          <!-- Start Date -->
          <mat-form-field appearance="outline">
            <mat-label>Start</mat-label>
            <input matInput [matDatepicker]="pickerStart" placeholder="Start" />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerStart"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>

          <!-- Start Time -->
          <mat-form-field appearance="outline">
            <input matInput type="time" />
          </mat-form-field>
        </div>
        <!-- End -->
        <div class="time-group">
          <!-- End Date -->
          <mat-form-field appearance="outline">
            <mat-label>End</mat-label>
            <input matInput [matDatepicker]="pickerEnd" placeholder="End" />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerEnd"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>

          <!-- End Time -->
          <mat-form-field appearance="outline">
            <input matInput type="time" />
          </mat-form-field>
        </div>

        <!-- Duration -->
        <div class="time-group">
          <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      form="addEditForm"
      type="submit"
      [disabled]="!addEditForm.valid"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
