@import "../../../../../styles.scss";

.header-image {
  background: mat-color($primary);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image i {
  color: mat-contrast($primary, 500);
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locations mat-form-field {
  width: 23%;
}

.time-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .locations,
  .time {
    flex-direction: column;
  }

  .locations mat-form-field,
  .time-group {
    width: 100%;
  }
}
